In [7]:
from pyvideosync.nev import Nev
import pandas as pd

In [8]:
digital_events_df = pd.read_csv("/home/auto/CODE/utils/video-sync/docs/docs/understanding-anomalies/discontinuity-in-nev/digital_events_df.csv")
digital_events_df

        InsertionReason  TimeStamps  UnparsedData
0                     1     1345817         65319
1                     1     1345818         65535
2                   129     1345819            40
3                   129     1345822            76
4                   129     1345825            35
...                 ...         ...           ...
140921              129    19361005            36
140922              129    19361008             0
140923              129    19361011             0
140924                1    19361447         65280
140925                1    19361999         65535

[140926 rows x 3 columns]

In [9]:
digital_events_df_serial = digital_events_df[digital_events_df["InsertionReason"] == 129]
digital_events_df_serial

        InsertionReason  TimeStamps  UnparsedData
2                   129     1345819            40
3                   129     1345822            76
4                   129     1345825            35
5                   129     1345828             0
6                   129     1345831             0
...                 ...         ...           ...
140919              129    19360999           108
140920              129    19361002            88
140921              129    19361005            36
140922              129    19361008             0
140923              129    19361011             0

[89237 rows x 3 columns]

Apparently the length is not mulitples of 5, meaning there's some discontinuities

In [21]:
digital_events_df_serial_small = digital_events_df.iloc[25396:25410]
digital_events_df_serial_small

       InsertionReason  TimeStamps  UnparsedData
25396              129     4606714            96
25397              129     4606717           101
25398              129     4606720            35
25399              129     4606723             0
25400              129     4606726             0
25401              129     4607716            97
25402              129     4607719           101
25403              129     4607722            35
25404              129     4607725             0
25405              129     4607728             0
25406              129     4608720           101
25407              129     4608723            35
25408              129     4608727             0
25409              129     4608730             0

In [22]:
digital_events_df_serial_small.to_csv("/home/auto/CODE/utils/video-sync/docs/docs/understanding-anomalies/discontinuity-in-nev/digital_events_small_2.csv", index=None)